

  <div class="w-full max-w-6xl rounded bg-blueGray-200 mt-1 shadow-xl p-10  mx-auto text-gray-800 relative md:text-left">
    <div class="md:flex items-center -mx-10">
      <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
        <div class="relative flex flex-col gap-4">
          <img src="assets/img/room2.jpg" class="w-full relative z-10" alt="">
          <div class="flex gap-9 flex-wrap w-full">
            <img class="w-1/6 rounded opacity-50 hover:opacity-100" src="assets/img/room2.jpg" >
            <img class="w-1/6 rounded opacity-50 hover:opacity-100" src="assets/img/room2.jpg" >
            <img class="w-1/6 rounded opacity-50 hover:opacity-100" src="assets/img/room2.jpg" >
            <img class="w-1/6 rounded opacity-50 hover:opacity-100" src="assets/img/room2.jpg" >
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-10">
        <div class="mb-10">
          <h1 class="font-bold uppercase text-2xl mb-5">Mens's Ragged <br>Waterproof Jacket</h1>
          <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos, voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat s</p>
        </div>
        <div>
          <div class="inline-block align-bottom mr-5">
            <span class="text-2xl leading-none align-baseline">DH</span>
            <span class="font-bold text-5xl leading-none align-baseline">59</span>
            <span class="text-2xl leading-none align-baseline">.99</span>
          </div>
          <div class="inline-block align-bottom">
            <button class="bg-yellow-300 opacity-75 hover:opacity-100 text-yellow-900 hover:text-gray-900 rounded-full px-10 py-2 font-semibold">Reserver</button>
          </div>
        </div>
      </div>
    </div>
  </div>


