
<button (click)="toggleModalAdd()" class="absolute z-10 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4lg text-sm px-5 py-2.5 text-center  dark:hover:bg-blue-700" type="button">
  add hotel
</button>

<div *ngFor="let hotel of ownerHotels" class="w-full max-w-6xl rounded bg-blueGray-200 mt-1 shadow-xl p-10  mx-auto text-gray-800  md:text-left mb-10">
  <div class="sm:flex items-center -mx-10">
    <div class="w-full px-10 mb-10 md:mb-0">
      <div class="relative">
        <img src="assets/img/room2.jpg" class="w-70 sm:w-60 md:w-50 " alt="">
      </div>
    </div>
    <div class="w-full  px-10">
      <div class="mb-10">
        <h1 class="font-bold uppercase text-2xl mb-5">{{hotel.nom}}</h1>
        <h3 class="text-[18px] mb-5"> <i class="fas fa-flag"></i>  {{hotel.adresse.pays}}</h3>
        <h3 class="text-[18px] mb-5"> <i class="fas fa-city"></i>  {{hotel.adresse.ville}}</h3>
        <h3  class="text-[18px] mb-5"> <i class="fas fa-map-marker-alt"></i> {{hotel.adresse.adresse}}</h3>
        <h3  class="text-[18px] mb-5"> Number Rooms {{hotel.chambers.length}}</h3>
      </div>
      <a class="text-blue-500" href="#" [routerLink]="['/owner/one_hotel/'+hotel.id]">
        <i class="fas fa-eye"></i>
      </a>

    </div>
  </div>
</div>


<!--start form add-->
<div *ngIf="showModalAdd" class="overflow-x-hidden fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto max-w-4xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Modal Title
        </h3>
        <button class=" ml-auto border-0 text-black  text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModalAdd()">
          <span class="text-black  h-6 w-6 text-2xl block outline-none focus:outline-none">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <!--body-->
      <div>
        <app-add-hotel></app-add-hotel>
        <button class="text-red-500 text-end background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModalAdd()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModalAdd" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
<!--end form add-->

