<div
  class="fixed top-0  bg-white w-full z-10 py-4 h-20 flex justify-between md:hidden "
>

  <!-- Toggler -->
  <button
    class="cursor-pointer top-0 text-black opacity-50 px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
    type="button"
    (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
  >
    <i class="fas fa-bars"></i>
  </button>
  <!-- Brand -->
  <a
    [routerLink]="['/owner/hotel_list']"
    class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
  >
    <span class=""> Nom Owner </span>
  </a>
  <!-- User -->
</div>
<nav>
  <!-- Collapse -->
  <div
    class="fixed top-0 bottom-0 bg-white w-64 z-10 py-4 px-6 md:block"
    [ngClass]="collapseShow"
  >
    <!-- Collapse header -->
    <div
      class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
    >
      <div class="flex flex-wrap">
        <div class="w-6/12 flex justify-end">
          <button
            type="button"
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            (click)="toggleCollapseShow('hidden')"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <a
      [routerLink]="['/owner/hotel_list']"
      class=" md:block text-center md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class=""> Nom Admin </span>
    </a>

    <div class="flex items-center justify-center" >
      <img src="assets/img/hotel1.jpg" class="rounded-full h-36 w-36">
    </div>


    <ul class="md:flex-col md:min-w-full flex flex-col list-none m-10">
      <li class="items-center">
        <a
          [routerLink]="['/admin/hotel_list']"
          class="text-xs uppercase py-3 font-bold block"
          routerLinkActive
          #adminDashboard="routerLinkActive"
          [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
        >
          <i
            class="fas fa-tv mr-2 text-sm"
            [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
          ></i>
          Hotels
        </a>
      </li>

      <li class="items-center">
        <a
          [routerLink]="['/admin/user_list']"
          class="text-xs uppercase py-3 font-bold block"
          routerLinkActive
          #adminSettings="routerLinkActive"
          [ngClass]="
              adminSettings.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
        >
          <i
            class="fas fa-tools mr-2 text-sm"
            [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
          ></i>
          Users
        </a>
      </li>

      <li class="items-center">
        <a
          [routerLink]="['/admin/profile']"
          class="text-xs uppercase py-3 font-bold block"
          routerLinkActive
          #adminTables="routerLinkActive"
          [ngClass]="
              adminTables.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
        >
          <i
            class="fas fa-table mr-2 text-sm"
            [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
          ></i>
          Profile
        </a>
      </li>

      <li class="items-center">
        <a
          [routerLink]="['/admin/logout']"
          class="text-xs uppercase py-3 font-bold block"
          routerLinkActive
          #adminMaps="routerLinkActive"
          [ngClass]="
              adminMaps.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
        >
          <i
            class="fas fa-map-marked mr-2 text-sm"
            [ngClass]="
                adminMaps.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
          ></i>
          Logout
        </a>
      </li>
    </ul>

  </div>
</nav>
